.heading, .button
{
    font-size: 30px;
    font-weight: bold;
    box-shadow: 5px 5px 5px white;
}

.instructions
{
    float: right;
}

body
{
    font-family: 'Fruktur', cursive;
}

.stick
{
    position: fixed;
}

canvas
{
    position: fixed;
}